<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<table border="1" class="table table-striped table-hover">
  <thead>
    <tr style="text-align: left;">
      <th></th>
      <th>id</th>
      <th>date</th>
      <th>time</th>
      <th>username</th>
      <th>tweet</th>
      <th>prediction</th>
      <th>proba_0</th>
      <th>proba_1</th>
      <th>link</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1518624233601052675</td>
      <td>2022-04-25</td>
      <td>19:13:26</td>
      <td>teknisyengold80</td>
      <td>@Turkcell    @TSuperbox  @TurkcellHizmet @SuperYardim @TcellPlatinum #şikayet El insaf be kardeşim. El insaf 164,00 ₺ ödediğim faturamın taahhütü bitti ve uzatmıyorlar. Yeni fiyat 609,00 ₺ Temel insani hakkımız olan iletişim hakkı da ultra lüks olacak yakında. Vah güzel ülkem.  https://t.co/2MxRyM2ZMJ</td>
      <td>Olumlu</td>
      <td>0.410163</td>
      <td>0.589837</td>
      <td><a href="https://twitter.com/TeknisyenGold80/status/1518624233601052675" target="_blank">https://twitter.com/TeknisyenGold80/status/1518624233601052675</a></td>
    </tr>
    <tr>
      <th>1</th>
      <td>1518621196094513154</td>
      <td>2022-04-25</td>
      <td>19:01:22</td>
      <td>tcellplatinum</td>
      <td>@fantazmasal Yolun sonundaki ışık olduğumuz için çok mutluyuz. Kolaylıklar ve ayrıcalıklar dünyamıza hoş geldiniz. 😇</td>
      <td>Olumsuz</td>
      <td>0.587357</td>
      <td>0.412643</td>
      <td><a href="https://twitter.com/TcellPlatinum/status/1518621196094513154" target="_blank">https://twitter.com/TcellPlatinum/status/1518621196094513154</a></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1518619947450220545</td>
      <td>2022-04-25</td>
      <td>18:56:24</td>
      <td>sakaryamilat</td>
      <td>SUBÜ ve Turkcell Global Bilgi’den iş birliği protokolü   https://t.co/AYQX7lnGjj</td>
      <td>Olumsuz</td>
      <td>0.833565</td>
      <td>0.166435</td>
      <td><a href="https://twitter.com/sakaryamilat/status/1518619947450220545" target="_blank">https://twitter.com/sakaryamilat/status/1518619947450220545</a></td>
    </tr>
    <tr>
      <th>3</th>
      <td>1518619925639741441</td>
      <td>2022-04-25</td>
      <td>18:56:19</td>
      <td>dhfirsatlar</td>
      <td>TURKCELL PLATINUM TRENDYOL 25 TL HEDİYE KUPON  https://t.co/Agp1gGMOnB</td>
      <td>Olumsuz</td>
      <td>0.812836</td>
      <td>0.187164</td>
      <td><a href="https://twitter.com/DHFirsatlar/status/1518619925639741441" target="_blank">https://twitter.com/DHFirsatlar/status/1518619925639741441</a></td>
    </tr>
    <tr>
      <th>4</th>
      <td>1518618896017854465</td>
      <td>2022-04-25</td>
      <td>18:52:14</td>
      <td>busraguclu16</td>
      <td>@Turkcell Benim internetim olmasına rağmen giremiyorum bunun sebebi nedir</td>
      <td>Olumsuz</td>
      <td>0.991921</td>
      <td>0.008079</td>
      <td><a href="https://twitter.com/BUSRAGUCLU16/status/1518618896017854465" target="_blank">https://twitter.com/BUSRAGUCLU16/status/1518618896017854465</a></td>
    </tr>
    <tr>
      <th>5</th>
      <td>1518617167251578880</td>
      <td>2022-04-25</td>
      <td>18:45:21</td>
      <td>bezelyedergi</td>
      <td>Bezelye Dergi 5 yaşında!  "5. Yıl Özel" sayımız, yaşam bilimlerine ışık tutan birçok yazıyla beraber yayında.  15. sayımıza İnternet sitemizden ( https://t.co/nK0Z4QHD5H) ve Turkcell'in "Dergilik" uygulamasından erişebilirsiniz!   Keyifli okumalar dileriz!  https://t.co/IUnAmKThu4</td>
      <td>Olumsuz</td>
      <td>0.760048</td>
      <td>0.239952</td>
      <td><a href="https://twitter.com/BezelyeDergi/status/1518617167251578880" target="_blank">https://twitter.com/BezelyeDergi/status/1518617167251578880</a></td>
    </tr>
    <tr>
      <th>6</th>
      <td>1518616508414545920</td>
      <td>2022-04-25</td>
      <td>18:42:44</td>
      <td>qq9009</td>
      <td>@TurkcellHizmet @Turkcell @SuperonlineNet site mahallesi fiber güzelde bu çukurlar ?  https://t.co/K6gstRZ9eB</td>
      <td>Olumlu</td>
      <td>0.263619</td>
      <td>0.736381</td>
      <td><a href="https://twitter.com/QQ9009/status/1518616508414545920" target="_blank">https://twitter.com/QQ9009/status/1518616508414545920</a></td>
    </tr>
    <tr>
      <th>7</th>
      <td>1518615580022124544</td>
      <td>2022-04-25</td>
      <td>18:39:03</td>
      <td>bmuzip</td>
      <td>@halktvcomtr @degirmencirfan Lozan ant.gizli madde yok. Ama "27 Nisan 1998: GSM lisansı, 25 yıllığına Turkcell ve Telsim şirketlerine devredildi." Cumhuriyetin 100.yilinda hazineye girmesi gereken bir para var. Tam 1 yıl sonra ve minimum 5 milyar USD olacak. Cunki aria 2,5 milyar usd ödemisti hazineye.</td>
      <td>Olumsuz</td>
      <td>0.940355</td>
      <td>0.059645</td>
      <td><a href="https://twitter.com/BMuzip/status/1518615580022124544" target="_blank">https://twitter.com/BMuzip/status/1518615580022124544</a></td>
    </tr>
    <tr>
      <th>8</th>
      <td>1518611464768081920</td>
      <td>2022-04-25</td>
      <td>18:22:42</td>
      <td>tcellplatinum</td>
      <td>@harikaasali Bu güzel yorumla enerjimizi artırdınız. 😇 Zamanınız da siz de bizim için çok değerlisiniz. Bunun farkındayız ve ona göre hareket ediyoruz. Markamıza duyduğunuz güven için çok teşekkür ederiz. 💛</td>
      <td>Olumlu</td>
      <td>0.015267</td>
      <td>0.984733</td>
      <td><a href="https://twitter.com/TcellPlatinum/status/1518611464768081920" target="_blank">https://twitter.com/TcellPlatinum/status/1518611464768081920</a></td>
    </tr>
    <tr>
      <th>9</th>
      <td>1518610058904539139</td>
      <td>2022-04-25</td>
      <td>18:17:07</td>
      <td>ozgedurand</td>
      <td>@Turkcell Merhaba, 6 aydır hicbir zaman kullanmadigim Turkcell uygulama kampanyalari icin sabah 10:00 dan aksam 20:00 ye kadar araniyorum. Defalarca aranmak istemedigime dair talepte bulundum ancak çözulmuyor. Defalarca kayit açılıyor ancak tekrar basliyor.Nasil cozebilirim?</td>
      <td>Olumsuz</td>
      <td>0.957163</td>
      <td>0.042837</td>
      <td><a href="https://twitter.com/ozgedurand/status/1518610058904539139" target="_blank">https://twitter.com/ozgedurand/status/1518610058904539139</a></td>
    </tr>
  </tbody>
</table>