<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<table border="1" class="table table-striped table-hover">
  <thead>
    <tr style="text-align: left;">
      <th></th>
      <th>id</th>
      <th>date</th>
      <th>time</th>
      <th>username</th>
      <th>tweet</th>
      <th>prediction</th>
      <th>proba_0</th>
      <th>proba_1</th>
      <th>link</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1518483815647399936</td>
      <td>2022-04-25</td>
      <td>09:55:28</td>
      <td>selo_alt</td>
      <td>@aayydaann @TurkTelekom @TurkTelekom_SK @VodafoneTR @VodafoneDestek @VodafoneMedya @Turkcell @TurkcellHizmet @umitonaltr @trwealthfund gnydn duyun bu serzenişi turktelekom çekim gücü aloda yok turktelekom in Virginmobileuae out çünkü satın abone mağdur ağlayan ağlayan a alt kot ev içlerinde odalarda bahçelerinde Kayseri Felahiye Acırli mahallesi 12 numaralı evimin içinde odamda çekmiyor</td>
      <td>Olumsuz</td>
      <td>0.660565</td>
      <td>0.339435</td>
      <td><a href="https://twitter.com/selo_alt/status/1518483815647399936" target="_blank">https://twitter.com/selo_alt/status/1518483815647399936</a></td>
    </tr>
    <tr>
      <th>1</th>
      <td>1518483529482522624</td>
      <td>2022-04-25</td>
      <td>09:54:20</td>
      <td>gizemgreeen</td>
      <td>@twitcerrah @Turkcell @TurkcellHizmet Operasyon benim bilmem kaç ay tahhütle faturalı hatta geçmemle son bulacak 😂 bir gelişme yok…</td>
      <td>Olumsuz</td>
      <td>0.922360</td>
      <td>0.077640</td>
      <td><a href="https://twitter.com/gizemgreeen/status/1518483529482522624" target="_blank">https://twitter.com/gizemgreeen/status/1518483529482522624</a></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1518483521580544001</td>
      <td>2022-04-25</td>
      <td>09:54:18</td>
      <td>parlaknebil</td>
      <td>Zira Acun'un 70 milyon dolar para sayıp kanal aldığı günlerde Karamehmet bankasına,TURKCELL hisselerinin bir bölümüne,medya gücüne-Digiturk, SKY, AKŞAM, GÜNEŞ, ALEM FMv.S-TMSF tarafından el konulmuş ve "BİTİRİLMİŞTİ"</td>
      <td>Olumsuz</td>
      <td>0.962014</td>
      <td>0.037986</td>
      <td><a href="https://twitter.com/ParlakNebil/status/1518483521580544001" target="_blank">https://twitter.com/ParlakNebil/status/1518483521580544001</a></td>
    </tr>
    <tr>
      <th>3</th>
      <td>1518481672077037570</td>
      <td>2022-04-25</td>
      <td>09:46:57</td>
      <td>hmervemutlu</td>
      <td>Turkcell Kadınlar Süper Ligi’nde 1 maç eksiği bulunan son şampiyon Beşiktaş Vodafone 19 hafta sonunda Ankara BB Fomget’e 5-3 yenilerek, ligde 3. yenilgisini almış oldu. 🔙 Fenerbahçe’ye 2-1 ve Bitexen 1207 Antalyaspor’a 3-2 yenilmişti.  https://t.co/BuyXLRm2Nk</td>
      <td>Olumsuz</td>
      <td>0.663984</td>
      <td>0.336016</td>
      <td><a href="https://twitter.com/hmervemutlu/status/1518481672077037570" target="_blank">https://twitter.com/hmervemutlu/status/1518481672077037570</a></td>
    </tr>
    <tr>
      <th>4</th>
      <td>1518478653696401410</td>
      <td>2022-04-25</td>
      <td>09:34:57</td>
      <td>gsb_kmaras</td>
      <td>Gaziantep ilinde yapılan 7. @AtletizmTAF TURKCELL KÜÇÜKLER yarışmasında sporcumuz Baran ÖZHÜLAGÜ Uzun Atlama branşında 4. olarak, Kayseri ilinde yapılacak final Yarışmasına katılmayı hak kazanmıştır. Sporcumuzu ve Antrenörlerini tebrik eder finallerde başarılar dileriz. 🏃  https://t.co/rpZMyTRMza</td>
      <td>Olumlu</td>
      <td>0.239303</td>
      <td>0.760697</td>
      <td><a href="https://twitter.com/GSB_KMaras/status/1518478653696401410" target="_blank">https://twitter.com/GSB_KMaras/status/1518478653696401410</a></td>
    </tr>
    <tr>
      <th>5</th>
      <td>1518478418593169410</td>
      <td>2022-04-25</td>
      <td>09:34:01</td>
      <td>kyz66</td>
      <td>@Turkcell yaklaşık 15 dk dır telefonda bekletiyorsunuz acaba ne iş yaparsınız?</td>
      <td>Olumlu</td>
      <td>0.181060</td>
      <td>0.818940</td>
      <td><a href="https://twitter.com/kyz66/status/1518478418593169410" target="_blank">https://twitter.com/kyz66/status/1518478418593169410</a></td>
    </tr>
    <tr>
      <th>6</th>
      <td>1518478163998818304</td>
      <td>2022-04-25</td>
      <td>09:33:00</td>
      <td>ilyas_cografya</td>
      <td>Merhabalar. Hattım üzerine bu üründen taksitli alabilir miyim? @Turkcell @TurkcellHizmet  https://t.co/HJLyMw2fGX</td>
      <td>Olumsuz</td>
      <td>0.954892</td>
      <td>0.045108</td>
      <td><a href="https://twitter.com/ilyas_cografya/status/1518478163998818304" target="_blank">https://twitter.com/ilyas_cografya/status/1518478163998818304</a></td>
    </tr>
    <tr>
      <th>7</th>
      <td>1518475694644338690</td>
      <td>2022-04-25</td>
      <td>09:23:12</td>
      <td>bashkanlik</td>
      <td>@TurkcellHizmet @Turkcell  Online platformunuz türkçe karakter kabul etmiyor. Ne yapalım ismimizi george mu yapalım.  Yazılım alanında öncü kuruluşa yakışmıyor.</td>
      <td>Olumsuz</td>
      <td>0.985069</td>
      <td>0.014931</td>
      <td><a href="https://twitter.com/bashkanlik/status/1518475694644338690" target="_blank">https://twitter.com/bashkanlik/status/1518475694644338690</a></td>
    </tr>
    <tr>
      <th>8</th>
      <td>1518475417715367936</td>
      <td>2022-04-25</td>
      <td>09:22:06</td>
      <td>sigortamedya</td>
      <td>Türkiye’nin ilk günlük sigorta gazetesi ‘Gazete Sigorta’ siber saldırılara özel manşetiyle Turkcell Dergilik, Türk Telekom e-dergi ve  https://t.co/jtWsqt6EUp’da.  https://t.co/OhLoJjMHrZ</td>
      <td>Olumsuz</td>
      <td>0.891573</td>
      <td>0.108427</td>
      <td><a href="https://twitter.com/sigortamedya/status/1518475417715367936" target="_blank">https://twitter.com/sigortamedya/status/1518475417715367936</a></td>
    </tr>
    <tr>
      <th>9</th>
      <td>1518473649543602176</td>
      <td>2022-04-25</td>
      <td>09:15:04</td>
      <td>aayydaann</td>
      <td>Zaten mükemmel çekim gücünüz vardı ya komple yok ettiniz. Dağın başında mağdur oluyoruz. Şu vericiye bi el atar mısınız rica etsek? @TurkTelekom @TurkTelekom_SK @VodafoneTR @VodafoneDestek @VodafoneMedya @Turkcell @TurkcellHizmet</td>
      <td>Olumsuz</td>
      <td>0.866616</td>
      <td>0.133384</td>
      <td><a href="https://twitter.com/aayydaann/status/1518473649543602176" target="_blank">https://twitter.com/aayydaann/status/1518473649543602176</a></td>
    </tr>
    <tr>
      <th>10</th>
      <td>1518473556346216448</td>
      <td>2022-04-25</td>
      <td>09:14:42</td>
      <td>turkcell33</td>
      <td>Bu güzel pay alım haberi endeksi tutarmı izliycez hesabı takipte kalın anlık güzel haberlerden bilginiz olsun takipte kalınız #garan #gozde #mavi #ereğli #aselsan #halkaarz #bist #bıst  https://t.co/13KlMM6xDP</td>
      <td>Olumlu</td>
      <td>0.199766</td>
      <td>0.800234</td>
      <td><a href="https://twitter.com/turkcell33/status/1518473556346216448" target="_blank">https://twitter.com/turkcell33/status/1518473556346216448</a></td>
    </tr>
    <tr>
      <th>11</th>
      <td>1518471374649573378</td>
      <td>2022-04-25</td>
      <td>09:06:02</td>
      <td>sefakusoglu</td>
      <td>Turkcell superonline ama Sefa superofline  https://t.co/aSMRTfIzZK</td>
      <td>Olumsuz</td>
      <td>0.756486</td>
      <td>0.243514</td>
      <td><a href="https://twitter.com/sefakusoglu/status/1518471374649573378" target="_blank">https://twitter.com/sefakusoglu/status/1518471374649573378</a></td>
    </tr>
    <tr>
      <th>12</th>
      <td>1518470649349644289</td>
      <td>2022-04-25</td>
      <td>09:03:09</td>
      <td>dilveedebiyatdr</td>
      <td>Takip • Gülçin Granit #DilveEdebiyatDergisi #Nisan2022   Okumak için:  https://t.co/3oQcesYPPR   Turkcell Dergilik’te ve Türk Telekom E-Dergi’de ücretsiz…  https://t.co/kr8CuXTrlo</td>
      <td>Olumsuz</td>
      <td>0.549105</td>
      <td>0.450895</td>
      <td><a href="https://twitter.com/dilveedebiyatdr/status/1518470649349644289" target="_blank">https://twitter.com/dilveedebiyatdr/status/1518470649349644289</a></td>
    </tr>
    <tr>
      <th>13</th>
      <td>1518469788401553408</td>
      <td>2022-04-25</td>
      <td>08:59:44</td>
      <td>helloimgumball</td>
      <td>Ben daha paket seçemeden ve bana hiçbir bilgi verilmeden, kafasına göre beni normalden daha pahalı bir pakete geçiren @Turkcell @TurkcellHizmet, acilen bir açıklama ve düzenleme bekliyorum!</td>
      <td>Olumsuz</td>
      <td>0.944279</td>
      <td>0.055721</td>
      <td><a href="https://twitter.com/helloimgumball/status/1518469788401553408" target="_blank">https://twitter.com/helloimgumball/status/1518469788401553408</a></td>
    </tr>
    <tr>
      <th>14</th>
      <td>1518465366049136641</td>
      <td>2022-04-25</td>
      <td>08:42:09</td>
      <td>metinyia16</td>
      <td>@sudebuttrue @KCalcifer @nasipetme @jahreindota @TurkTelekom Turkcell pek kazık değil bence. resimde olan paketin 3 GB azını alıyorum 65₺ ödüyorum(faturasız)</td>
      <td>Olumsuz</td>
      <td>0.995283</td>
      <td>0.004717</td>
      <td><a href="https://twitter.com/metinyia16/status/1518465366049136641" target="_blank">https://twitter.com/metinyia16/status/1518465366049136641</a></td>
    </tr>
    <tr>
      <th>15</th>
      <td>1518463085412986885</td>
      <td>2022-04-25</td>
      <td>08:33:05</td>
      <td>net_haber_</td>
      <td>🔴 Fenerbahçe'den tarihi galibiyet: 11-0: Fenerbahçe Kadın Futbol Takımı, Turkcell Kadın Futbol Süper Ligi 19. hafta maçında Altay’a konuk oldu. Baştan sona üstün oynadığı maçı 11-0 kazanan Fenerbahçe, puanını 49’a yükseltti ve maç fazlasıyla liderliğini…  https://t.co/yviU99ztFx</td>
      <td>Olumsuz</td>
      <td>0.704962</td>
      <td>0.295038</td>
      <td><a href="https://twitter.com/Net_Haber_/status/1518463085412986885" target="_blank">https://twitter.com/Net_Haber_/status/1518463085412986885</a></td>
    </tr>
    <tr>
      <th>16</th>
      <td>1518454628693811206</td>
      <td>2022-04-25</td>
      <td>07:59:29</td>
      <td>61birdal</td>
      <td>24 nisan 2022 tarihinde Trabzon ilinde yapilan 7'ci TAF Turkcell 1 ve 5 bölge müsabakalarin 14 ilin katıldığı Atletizm yarışında ilimiz sporcuları 1 altın🥇 9 gümüş 🥈 4 bronz🥉 madalya ile bitirmiştir. Sporcu ve antrenorlerimizi tebrik ederim.  https://t.co/oL0SV06bX5</td>
      <td>Olumsuz</td>
      <td>0.642754</td>
      <td>0.357246</td>
      <td><a href="https://twitter.com/61birdal/status/1518454628693811206" target="_blank">https://twitter.com/61birdal/status/1518454628693811206</a></td>
    </tr>
    <tr>
      <th>17</th>
      <td>1518434169138860032</td>
      <td>2022-04-25</td>
      <td>06:38:11</td>
      <td>muallimath_</td>
      <td>@jahreindota @TurkTelekom Her gün yalvarıyorlar taahhüt bitmeden yeni fiyattan paket aldırmak için bu saatten sonra bedava olsa kullanmam. 15 senelik hattı Turkcell yaptım. Şimdi sıra  evdeki interneti değiştirmekte.</td>
      <td>Olumsuz</td>
      <td>0.780380</td>
      <td>0.219620</td>
      <td><a href="https://twitter.com/Muallimath_/status/1518434169138860032" target="_blank">https://twitter.com/Muallimath_/status/1518434169138860032</a></td>
    </tr>
    <tr>
      <th>18</th>
      <td>1518433197687812096</td>
      <td>2022-04-25</td>
      <td>06:34:20</td>
      <td>onurbulduk_</td>
      <td>Turkcell tarife fiyatlarını görünce benim sıfatül eşgal:  https://t.co/Htn4erQytF</td>
      <td>Olumsuz</td>
      <td>0.767641</td>
      <td>0.232359</td>
      <td><a href="https://twitter.com/onurbulduk_/status/1518433197687812096" target="_blank">https://twitter.com/onurbulduk_/status/1518433197687812096</a></td>
    </tr>
    <tr>
      <th>19</th>
      <td>1518422620823248896</td>
      <td>2022-04-25</td>
      <td>05:52:18</td>
      <td>tcellplatinum</td>
      <td>@keskinegee İnternet kullanımınız bağlı kaldığınız süreye ek olarak, bağlantı türüne ve bağlı olduğunuz sayfanın içeriğine göre değişebilir. Yüksek hız ve reklam içeriği de olan bir sayfa internet kotanızı daha çabuk tüketir.  https://t.co/J7KLv4NKsv</td>
      <td>Olumsuz</td>
      <td>0.928020</td>
      <td>0.071980</td>
      <td><a href="https://twitter.com/TcellPlatinum/status/1518422620823248896" target="_blank">https://twitter.com/TcellPlatinum/status/1518422620823248896</a></td>
    </tr>
    <tr>
      <th>20</th>
      <td>1518422601344946176</td>
      <td>2022-04-25</td>
      <td>05:52:13</td>
      <td>tcellplatinum</td>
      <td>@keskinegee Sosyal medya uygulamalarını yoğun olarak kullanıyorsanız otomatik video oynatma seçeneğini kapatmanızı öneririz. Dijital Operatör uygulamamızdan da hangi tarih ve saatte ne kadarlık bir veri harcadığınızın bilgisine ulaşabilirsiniz. +</td>
      <td>Olumsuz</td>
      <td>0.813481</td>
      <td>0.186519</td>
      <td><a href="https://twitter.com/TcellPlatinum/status/1518422601344946176" target="_blank">https://twitter.com/TcellPlatinum/status/1518422601344946176</a></td>
    </tr>
    <tr>
      <th>21</th>
      <td>1518422544042401793</td>
      <td>2022-04-25</td>
      <td>05:52:00</td>
      <td>tcellplatinum</td>
      <td>@keskinegee İnternet kullanımınız cihazınızın özelliklerine ve kullandığınız uygulamalara göre farklılık gösterebiliyor. Cihazınızın hücresel veri bölümünden hangi uygulamanın ne kadarlık bir veri harcadığını görebilirsiniz. +</td>
      <td>Olumsuz</td>
      <td>0.835100</td>
      <td>0.164900</td>
      <td><a href="https://twitter.com/TcellPlatinum/status/1518422544042401793" target="_blank">https://twitter.com/TcellPlatinum/status/1518422544042401793</a></td>
    </tr>
    <tr>
      <th>22</th>
      <td>1518420977033621504</td>
      <td>2022-04-25</td>
      <td>05:45:46</td>
      <td>keskinegee</td>
      <td>Soygunmu yapıyosunuz 1 haftada 16 gb interneti nasıl yemiş olabilirim acaba !!! @TcellPlatinum @Turkcell @TurkcellHizmet</td>
      <td>Olumsuz</td>
      <td>0.967989</td>
      <td>0.032011</td>
      <td><a href="https://twitter.com/keskinegee/status/1518420977033621504" target="_blank">https://twitter.com/keskinegee/status/1518420977033621504</a></td>
    </tr>
    <tr>
      <th>23</th>
      <td>1518226454135377920</td>
      <td>2022-04-24</td>
      <td>16:52:48</td>
      <td>vilhelm_snellma</td>
      <td>@Cakabeyligi 10 yıl kadar önce çağrı merkezinde çalışıyordum. Birgün Surunin biri aradı fiyat sordu, sonra "bu pahalı Turkcell bize ucuza verdi var mı böyle kampanyanız" dedi. kısacası hepsi yedi bu boku.</td>
      <td>Olumsuz</td>
      <td>0.840441</td>
      <td>0.159559</td>
      <td><a href="https://twitter.com/Vilhelm_Snellma/status/1518226454135377920" target="_blank">https://twitter.com/Vilhelm_Snellma/status/1518226454135377920</a></td>
    </tr>
    <tr>
      <th>24</th>
      <td>1518226418571923458</td>
      <td>2022-04-24</td>
      <td>16:52:40</td>
      <td>fftvofficial</td>
      <td>Fenerbahçe'den tarihi skor: 11-0'lık galibiyet. Turkcell Süper Lig'in 19. haftasında Fenerbahçe deplasmanda Altay'ı 11-0 yendi ve A Grubu'nda liderliğini sürdürdü.  https://t.co/lCuIEA7czq</td>
      <td>Olumlu</td>
      <td>0.371646</td>
      <td>0.628354</td>
      <td><a href="https://twitter.com/FFTVofficial/status/1518226418571923458" target="_blank">https://twitter.com/FFTVofficial/status/1518226418571923458</a></td>
    </tr>
    <tr>
      <th>25</th>
      <td>1518225787417210880</td>
      <td>2022-04-24</td>
      <td>16:50:09</td>
      <td>myxstark</td>
      <td>1 saatlik 1gb internet için çok teşekkür ederim turkcell nasıl bitircem inan bilemiyorum..</td>
      <td>Olumlu</td>
      <td>0.272925</td>
      <td>0.727075</td>
      <td><a href="https://twitter.com/myxstark/status/1518225787417210880" target="_blank">https://twitter.com/myxstark/status/1518225787417210880</a></td>
    </tr>
    <tr>
      <th>26</th>
      <td>1518224462067507200</td>
      <td>2022-04-24</td>
      <td>16:44:53</td>
      <td>aovespor</td>
      <td>.@Turkcell ve @SamsungTurkiye sponsorluğunda gerçekleşen AIC Türkiye Seçmeleri'nde 2022 Taraftar Özel Ödülü'nün sahibi @GSEsports'dan Chopin oluyor! Kendisini tebrik ederiz 👏 #AICTürkiye #AOVtopluluk  https://t.co/v4MgKFSKnG</td>
      <td>Olumlu</td>
      <td>0.288788</td>
      <td>0.711212</td>
      <td><a href="https://twitter.com/aovespor/status/1518224462067507200" target="_blank">https://twitter.com/aovespor/status/1518224462067507200</a></td>
    </tr>
    <tr>
      <th>27</th>
      <td>1518223382709481473</td>
      <td>2022-04-24</td>
      <td>16:40:36</td>
      <td>kaansyknc</td>
      <td>@Turkcell  en sonunda size bi dava açıcam... O dereceye getirmeye başladınız</td>
      <td>Olumsuz</td>
      <td>0.930967</td>
      <td>0.069033</td>
      <td><a href="https://twitter.com/kaansyknc/status/1518223382709481473" target="_blank">https://twitter.com/kaansyknc/status/1518223382709481473</a></td>
    </tr>
    <tr>
      <th>28</th>
      <td>1518221848181411841</td>
      <td>2022-04-24</td>
      <td>16:34:30</td>
      <td>hsgur77</td>
      <td>Sevgili @Turkcell ,on binlerce kişi seni bekliyor, tek yapman gereken gençlere 5-10-15 gb, bizler gibi daha fazla gb ihtiyacı olanlara örnek : 20 gb ve üstü tarifelerini diğer iki firmaya yakın fiyatlandırman. Aynı olmasa da küçük bir fark olabilir. Yaparsan “win win” yaşanır.</td>
      <td>Olumsuz</td>
      <td>0.854662</td>
      <td>0.145338</td>
      <td><a href="https://twitter.com/hsgur77/status/1518221848181411841" target="_blank">https://twitter.com/hsgur77/status/1518221848181411841</a></td>
    </tr>
    <tr>
      <th>29</th>
      <td>1518221521310961665</td>
      <td>2022-04-24</td>
      <td>16:33:12</td>
      <td>raifaltan</td>
      <td>@uyanhadi_ Uzan grubun kanallarına gsm operatörüne çöktüler,,mehmetemin karaeminin show tv ve diğer kanallarına çöktüler(allah tan turkcell için direndi vermedi)trt ve atv yi kaynettik..tarafsız varmıki haber izliim..20 senedir haber izlemiyorum</td>
      <td>Olumsuz</td>
      <td>0.893717</td>
      <td>0.106283</td>
      <td><a href="https://twitter.com/raifaltan/status/1518221521310961665" target="_blank">https://twitter.com/raifaltan/status/1518221521310961665</a></td>
    </tr>
    <tr>
      <th>30</th>
      <td>1518220173836267520</td>
      <td>2022-04-24</td>
      <td>16:27:51</td>
      <td>karlyboy71</td>
      <td>Turkcell 🇹🇷 Women's Championship Results @MundialesyCopas @JueganEllas @WSoccerPlayers @WorldWSoccer @JWsports1 @samueloahmadu @raffacarolina @DiarioFFeminino  https://t.co/kSxLBAmzNt</td>
      <td>Olumlu</td>
      <td>0.005444</td>
      <td>0.994556</td>
      <td><a href="https://twitter.com/karlyboy71/status/1518220173836267520" target="_blank">https://twitter.com/karlyboy71/status/1518220173836267520</a></td>
    </tr>
    <tr>
      <th>31</th>
      <td>1518220070597677056</td>
      <td>2022-04-24</td>
      <td>16:27:26</td>
      <td>tsclub</td>
      <td>Trabzonsporluya 61cell Yakışır! 🔴🔵  En yakın Turkcell mağazasına giderek sınırlı sayıdaki 0561 ile başlayan 61cell hattına sen de sahip olabilirsin.  Hem de şimdi 61cell’e gelenler TS Club ürünlerinde geçerli %20 indirim kazanıyor.  Detaylı bilgi için:  https://t.co/pj6RcNaFJu  https://t.co/h2UYe1M9sc</td>
      <td>Olumsuz</td>
      <td>0.850333</td>
      <td>0.149667</td>
      <td><a href="https://twitter.com/tsclub/status/1518220070597677056" target="_blank">https://twitter.com/tsclub/status/1518220070597677056</a></td>
    </tr>
    <tr>
      <th>32</th>
      <td>1518219162799296512</td>
      <td>2022-04-24</td>
      <td>16:23:50</td>
      <td>rderdinc</td>
      <td>Havalimanında 450tl olan hazırkart ve paket ücreti, Nişantaşı city’sde 1000tl, Düzce’de 150tl. 🤔 bunun muhtemelen bir açıklaması vardır. @Turkcell @TurkcellHizmet</td>
      <td>Olumsuz</td>
      <td>0.939347</td>
      <td>0.060653</td>
      <td><a href="https://twitter.com/RdErdinc/status/1518219162799296512" target="_blank">https://twitter.com/RdErdinc/status/1518219162799296512</a></td>
    </tr>
    <tr>
      <th>33</th>
      <td>1518216567682736128</td>
      <td>2022-04-24</td>
      <td>16:13:31</td>
      <td>doktorizmm</td>
      <td>@TurkcellHizmet @aykutacunnn Ac kurtlar gibi pusuda mi bekliyorsunuz 😅 bu arada turkcell candır biraz pahalı ama en iyisidir</td>
      <td>Olumsuz</td>
      <td>0.587222</td>
      <td>0.412778</td>
      <td><a href="https://twitter.com/doktorizmm/status/1518216567682736128" target="_blank">https://twitter.com/doktorizmm/status/1518216567682736128</a></td>
    </tr>
    <tr>
      <th>34</th>
      <td>1518215574156984320</td>
      <td>2022-04-24</td>
      <td>16:09:34</td>
      <td>furkantecer</td>
      <td>Ben o sözleşme iptal bedelini ödemeyeceğim. Beni cümle alem siksin size fazladan 1 lira vermem. O yüzden çıkın gidin abi hayatımdan. @Turkcell @SuperonlineNet #superonline #turkcell</td>
      <td>Olumsuz</td>
      <td>0.936748</td>
      <td>0.063252</td>
      <td><a href="https://twitter.com/Furkantecer/status/1518215574156984320" target="_blank">https://twitter.com/Furkantecer/status/1518215574156984320</a></td>
    </tr>
    <tr>
      <th>35</th>
      <td>1518214076001837056</td>
      <td>2022-04-24</td>
      <td>16:03:37</td>
      <td>furkantecer</td>
      <td>Olum çıkın lan hayatımdan. Siktirin gidin abi bakın çok açık konuşuyorum. Siktirin gidin ben sövmekten sıkıldım size ya @turkcell @SuperonlineNet #turkcell #superonline</td>
      <td>Olumsuz</td>
      <td>0.977104</td>
      <td>0.022896</td>
      <td><a href="https://twitter.com/Furkantecer/status/1518214076001837056" target="_blank">https://twitter.com/Furkantecer/status/1518214076001837056</a></td>
    </tr>
    <tr>
      <th>36</th>
      <td>1518214009950019585</td>
      <td>2022-04-24</td>
      <td>16:03:21</td>
      <td>karlyboy71</td>
      <td>Turkcell 🇹🇷 Women's Championship  Result  Besiktas 3 Fomget 5</td>
      <td>Olumlu</td>
      <td>0.005444</td>
      <td>0.994556</td>
      <td><a href="https://twitter.com/karlyboy71/status/1518214009950019585" target="_blank">https://twitter.com/karlyboy71/status/1518214009950019585</a></td>
    </tr>
    <tr>
      <th>37</th>
      <td>1518213796577386498</td>
      <td>2022-04-24</td>
      <td>16:02:30</td>
      <td>balboaenes</td>
      <td>Turkcellin saçma uygulaması yüzünden her seferinden 1gb internete 30 tl veriyorum istemediğim halde 205 mb kaldı mesajı ile bitti mesajı aynı anda geliyor sırf fazla para koparmak için @Turkcell @TurkcellHizmet  https://t.co/FU9mNsONK4</td>
      <td>Olumsuz</td>
      <td>0.995465</td>
      <td>0.004535</td>
      <td><a href="https://twitter.com/BalboaEnes/status/1518213796577386498" target="_blank">https://twitter.com/BalboaEnes/status/1518213796577386498</a></td>
    </tr>
    <tr>
      <th>38</th>
      <td>1518208823307161603</td>
      <td>2022-04-24</td>
      <td>15:42:45</td>
      <td>sicilia_of_vito</td>
      <td>Sayin ttnet ve bana hizmet veren gorevli calisanlar hepinizin anasiniavradini karinizisli kizini neyiniz varsa sikeyim orospu evlatlari sizi turkcell in dassak kılı bile olamazsiniz niye kesiyonuz interneti</td>
      <td>Olumsuz</td>
      <td>0.972569</td>
      <td>0.027431</td>
      <td><a href="https://twitter.com/sicilia_of_vito/status/1518208823307161603" target="_blank">https://twitter.com/sicilia_of_vito/status/1518208823307161603</a></td>
    </tr>
    <tr>
      <th>39</th>
      <td>1518207611040116736</td>
      <td>2022-04-24</td>
      <td>15:37:56</td>
      <td>selo_alt</td>
      <td>@reyhanefz @Turkcell @TurkcellHizmet @TurkTelekom @vodofone @KastamonuBelBsk @IhsangaziKaym @UABsosyal @umitonaltr @trwealthfund duy sat @VirginMobileUAE çünkü ağlayan ağlayan a çekim gücü aloda yok turktelekom in Virginmobileuae out çünkü bayan şikayetçi</td>
      <td>Olumsuz</td>
      <td>0.695995</td>
      <td>0.304005</td>
      <td><a href="https://twitter.com/selo_alt/status/1518207611040116736" target="_blank">https://twitter.com/selo_alt/status/1518207611040116736</a></td>
    </tr>
    <tr>
      <th>40</th>
      <td>1518207568916758528</td>
      <td>2022-04-24</td>
      <td>15:37:46</td>
      <td>rdvn0320</td>
      <td>Borsanın Rekor çıkışına Ayak uyduramamış #bist100 hisseleri👇👇  #aefes #turkcell #OTOKAR #tekfen #egeen #indes #GUBRF #PARSN #ülker #Logo #BorSan #enerji #SOKM #bimas #bist100 #Temettue  https://t.co/12ubJT2llI</td>
      <td>Olumsuz</td>
      <td>0.941571</td>
      <td>0.058429</td>
      <td><a href="https://twitter.com/rdvn0320/status/1518207568916758528" target="_blank">https://twitter.com/rdvn0320/status/1518207568916758528</a></td>
    </tr>
    <tr>
      <th>41</th>
      <td>1518206897446440961</td>
      <td>2022-04-24</td>
      <td>15:35:05</td>
      <td>altaykartal25</td>
      <td>Ulan telsiz kullanım ücreti adı altında deprem nedeniyle geçi toplanan bu paraları neden ödüyoruz Telekom şirketleri kendileri ödesin her şey vatandaşa zülüm oluyor  #telokom #tuerktelekom #haberleşme #Turkcell #Vodofone  #kudurun #pazar #dahayaşanılırbirtürkiye #ProtestoEdiyorum</td>
      <td>Olumsuz</td>
      <td>0.958511</td>
      <td>0.041489</td>
      <td><a href="https://twitter.com/AltayKartal25/status/1518206897446440961" target="_blank">https://twitter.com/AltayKartal25/status/1518206897446440961</a></td>
    </tr>
    <tr>
      <th>42</th>
      <td>1518206021386313728</td>
      <td>2022-04-24</td>
      <td>15:31:37</td>
      <td>cosmic1777</td>
      <td>@TurkcellHizmet @aykutacunnn Turkcell uygun kampanya sun direkt geçeyim yanına</td>
      <td>Olumsuz</td>
      <td>0.597817</td>
      <td>0.402183</td>
      <td><a href="https://twitter.com/cosmic1777/status/1518206021386313728" target="_blank">https://twitter.com/cosmic1777/status/1518206021386313728</a></td>
    </tr>
    <tr>
      <th>43</th>
      <td>1518204607746486272</td>
      <td>2022-04-24</td>
      <td>15:26:00</td>
      <td>tradershakur</td>
      <td>@jahreindota @TurkTelekom Turkcell ve @TurkTelekom arasında gidip geliyordum her sene. Bundan sonra kesinlikle türk telekom kullanmayacağım ev internetimi de taahhüt biter bitmez kapatıyorum. @TurkTelekom bir daha asla kullanmayacağım</td>
      <td>Olumsuz</td>
      <td>0.962745</td>
      <td>0.037255</td>
      <td><a href="https://twitter.com/TraderShakur/status/1518204607746486272" target="_blank">https://twitter.com/TraderShakur/status/1518204607746486272</a></td>
    </tr>
    <tr>
      <th>44</th>
      <td>1518203604645171206</td>
      <td>2022-04-24</td>
      <td>15:22:00</td>
      <td>gezirgan</td>
      <td>@mesutcemil @jahreindota @TurkTelekom @Turkcell @Vodaphone4 Ülke iyice Muz Cumhuriyetinde benzedi. Kafayı yememek elde değil :D</td>
      <td>Olumsuz</td>
      <td>0.969091</td>
      <td>0.030909</td>
      <td><a href="https://twitter.com/gezirgan/status/1518203604645171206" target="_blank">https://twitter.com/gezirgan/status/1518203604645171206</a></td>
    </tr>
    <tr>
      <th>45</th>
      <td>1518203334905282560</td>
      <td>2022-04-24</td>
      <td>15:20:56</td>
      <td>oguzkagan1517</td>
      <td>@TurkcellHizmet @Turkcell   tek gelmek olmaz dedik tüm aile geliyoruz</td>
      <td>Olumlu</td>
      <td>0.139949</td>
      <td>0.860051</td>
      <td><a href="https://twitter.com/OguzKagan1517/status/1518203334905282560" target="_blank">https://twitter.com/OguzKagan1517/status/1518203334905282560</a></td>
    </tr>
    <tr>
      <th>46</th>
      <td>1518203023796977665</td>
      <td>2022-04-24</td>
      <td>15:19:42</td>
      <td>stanbul33582366</td>
      <td>@1ercanozcan @Turkcell MİLLİ GAZETE</td>
      <td>Olumsuz</td>
      <td>0.931874</td>
      <td>0.068126</td>
      <td><a href="https://twitter.com/STANBUL33582366/status/1518203023796977665" target="_blank">https://twitter.com/STANBUL33582366/status/1518203023796977665</a></td>
    </tr>
    <tr>
      <th>47</th>
      <td>1518202429497614337</td>
      <td>2022-04-24</td>
      <td>15:17:20</td>
      <td>burcjk</td>
      <td>Turkcell faturasız paketler her ay yükseliyor yükseldikçe İnternet kotası düşüyor geçen ay 12 gb 75 tl idi şimdi 9 gb 75 tl ben ev İnternetine veriyorum bu paraları aq</td>
      <td>Olumsuz</td>
      <td>0.959062</td>
      <td>0.040938</td>
      <td><a href="https://twitter.com/Burcjk/status/1518202429497614337" target="_blank">https://twitter.com/Burcjk/status/1518202429497614337</a></td>
    </tr>
    <tr>
      <th>48</th>
      <td>1518202415203463168</td>
      <td>2022-04-24</td>
      <td>15:17:17</td>
      <td>196hobbit</td>
      <td>@kibarayi1 Eşim geçen yaz TR'de mobil çalışırken ufak şarj edilen birşey aldı Turkcell'den içine sim kart takılıyor gayet başarılı bu senede kullanıcak powerbank büyüklüğünde taşımasıda kolay kullandık tavsiye ederim.</td>
      <td>Olumlu</td>
      <td>0.026630</td>
      <td>0.973370</td>
      <td><a href="https://twitter.com/196hobbit/status/1518202415203463168" target="_blank">https://twitter.com/196hobbit/status/1518202415203463168</a></td>
    </tr>
    <tr>
      <th>49</th>
      <td>1518202348702736385</td>
      <td>2022-04-24</td>
      <td>15:17:01</td>
      <td>islerspormedya</td>
      <td>👇💥Fenerbahçe'den tarihi fark!   💥Fenerbahçe Kadın Futbol Takımı, Turkcell Kadın Futbol Süper Ligi 19. hafta maçında Altay'ı 11-0 mağlup etti.   #Fenerbahçe #Altay #futbol #football  https://t.co/YoAvIVNpyb</td>
      <td>Olumsuz</td>
      <td>0.873288</td>
      <td>0.126712</td>
      <td><a href="https://twitter.com/islerspormedya/status/1518202348702736385" target="_blank">https://twitter.com/islerspormedya/status/1518202348702736385</a></td>
    </tr>
  </tbody>
</table>